:root {
  --background-color-dark: #1b1b1b;
  --text-color-light: #fff;
  --accent-color: #EE7E5C;
}

body {
  background-color: var(--background-color-dark);
  height: 100vh;
  transition: all 0.4s ease;
}

body .subtitle,
body .title,
body h1,
.container {
  color: var(--text-color-light);
}

.accent-text {
  color: var(--accent-color);
}

body .subtitle strong {
  color: var(--accent-color)
}

.dropdown-menu {
	background: #000000 !important;
}

.dropdown-item {
		color: #ffffff;
		padding-top: 3;
		padding-bottom: 3;
		margin-bottom: 0;
		margin-top: 0;
}

.nav-link {
	font-size: 28px !important;
}

.navbar-expand-md .navbar-toggler {
	display: block;
	max-width: 62.75px;
	color: rgba(255, 255, 255, 1) !important;
	border-color: rgba(255, 255, 255, 1) !important;
}

.navbar-toggler:hover {
	background-color: #000000 !important;
}

.nav-toggle:hover {
	background-color: gray !important;
}

.toggler-icon {
	font-size: 42px;
	margin-left: -5px;
}

.navbar-space-between {
	flex-wrap: wrap !important;
	justify-content: space-between !important;
}

#overlay-nav {
		position: fixed;
  visibility: hidden;
		top: 0;
  left: 0;
  right: 0;
  bottom: 0;	
		z-index: 2000;
		background: rgba(0,0,0,.99);
		transition: all .8s cubic-bezier(.175,.885,.32,1.275);
		transform: scale(0);
		opacity: 0;
		display: flex;
}

.visible {
	visibility: visible !important;
	transform: scale(1) !important;
	opacity: 1 !important;
}

.nav-toggle {
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
	width: 60px;
}

/* Expandable Content */
.collapsible:hover {
	background-color: #ccc;
}

.ministry-card {
	width: 300px;
}

.content {
	padding: 15px 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

.content h1 {
	font-size: 20px;
	font-weight: bold;
}

.content h3 {
	font-size: 16px;
	font-weight: bold;
}

.content p {
	font-size: 14px;
}

.transition-display {
	display: block;
	-webkit-transition: display 2000ms;
	transition: display 2000ms;
}

.transition-hide {
	display: none;
}

.parallax {
	background-image: url("../img/ccc-cross-image.webp") !important;

	background-attachment: fixed !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
 }

 @media only screen and (max-width: 480pxlo) {
	.parallax {
	  background-attachment: scroll;
	}
 }

/* Expandable Content */
audio
{
	-moz-box-shadow: 2px 2px 4px 0px #3376BC;
	-webkit-box-shadow:  2px 2px 4px 0px #3376BC;
	box-shadow: 2px 2px 4px 0px #3376BC;
	-moz-border-radius:7px 7px 7px 7px ;
	-webkit-border-radius:7px 7px 7px 7px ;
	border-radius:25px ;

	width: 100%;
}

.video-container {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.media-col {
	float: left;
	padding: 0;
	margin-bottom: 30px;
}

body > div.heroImg > img {
	width: 100%;
	height: 32rem;
}

body, html {
	padding: 0;
	width: 100%;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif !important;;
}

.jumbotron {
	background: #fff;
	border-radius: 0;
}

.jumbotronInnerContent {
	margin-top: 200px;
	margin-bottom: 15px;
}

#welcomeText {
	font-size: 80px;
	font-weight: 600;
}

#thirdFeature {
	position: absolute;
	top: 40%;
	z-index: 1000;
	color: #fff;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	right: 0;
	left: 0;
	font-weight:800 !important;
}

#thirdFeature h1 {
	font-size: 80px;
}

@media (max-width: 480px) {
	.jumbotronInnerContent {
		margin-top: 100px;
	}

	#welcomeText {
		font-size: 60px;
	}

	#thirdFeature h1 {
		font-size: 60px;
	}
	
	.address {
		width: 106%;
		display: block;
	}

	#btnFindUs {
		width: 106%;
	}
}

@media (min-width: 480px) {
	.address {
		display: inline;
	}
}

a.map-icon{
	z-index:2;
 }

 i.map-icon{
	z-index:1;
 }

@media (max-width: 850px) {
	.hideMobile {
		display: none;
	}

	.marginForHiding {
		margin-top: 150px;
	}
}

hr {	
	border: 0;	
	height: 2px;	
	margin:18px 0;	
	position:relative;	
	background-image: radial-gradient(#3376BC, #FFF), radial-gradient(#3376BC, #FFF);	
	clear: left;
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=1 ); /* IE6-9 */	
}	

hr:before {	
	content: "";	
	display: block;	
	border-top: solid 1px #3376BC;	
	width: 100%;	
	height: 1px;	
	position: absolute;	
	top: 50%;	
	z-index: 1;	
}

body > div.container > h1 {
	margin-top: 25px;
}

.myanswersDirectorCountdownWrap {
	border:  0 !important;
}

.myanswersDirectorCountdownTopLine {
	background: #3376BC !important;
}

.calendar {
	position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}
 
.calendar iframe {
	position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

@media only screen and (min-width : 992px) {
	.right-border {
		border-width: 2px 2px 2px 0;
		border-style: solid;
		-webkit-border-image: 
		  -webkit-gradient(linear, 0 0, 0 100%, from(#3376BC), to(rgba(0, 0, 0, 0))) 1 100%;
		-webkit-border-image: 
		  -webkit-linear-gradient(#3376BC, rgba(0, 0, 0, 0)) 1 100%;
		-moz-border-image:
		  -moz-linear-gradient(#3376BC, rgba(0, 0, 0, 0)) 1 100%;    
		-o-border-image:
		  -o-linear-gradient(#3376BC, rgba(0, 0, 0, 0)) 1 100%;
		border-image:
		  linear-gradient(to bottom, #3376BC, rgba(0, 0, 0, 0)) 1 100%;
	}

	.zoom-hover {
		border-radius: 4px;
		background: #fff;
		box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
		  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
	 padding: 14px 80px 18px 36px;
	 cursor: pointer;
  }
  
  .zoom-hover:hover {
		transform: scale(1.05);
		box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
}

/* .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { */
	/* color: #3376BC; */
/* } */

/* .text-muted { */
	/* color: #009fd9 !important; */
/* } */

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:hover {
	border-color: #3376BC;
	background-color: #3376BC;
	box-shadow: none;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:hover {
	border-color: #EE7E5C;
	background-color: #EE7E5C;
	box-shadow: none;
}

.overflow-auto {
	overflow: auto;
}

.bg-blue {
	background-color: #3376BC;
	transition: background-color 1s;
}

.bg-gray-blue {
	background-color: #3376BC;
	transition: background-color 1s;
}

.rounded-border {
	border-radius: 1rem;
}

.pd-5 {
	margin: 5px;
}

.nav-link {
	font-size: 24px;
	font-weight: bold;
	color: rgba(255, 255, 255, .75) !important;
}

.nav-link:hover {
	font-size: 24px;
	color: rgb(255, 255, 255) !important;
}

.nav-item {
	margin: 0 15px 0 15px;
}

.homeContent {
	z-index: 10;
	color: #fff;
	text-align: center;
}

/* nav {
	0px 0px 60px transparent;
} */

/* Footer*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
	background: rgb(26,26,26) !important;
	/* background: #6c757d !important; */
}
#footer h5{
	padding-left: 10px;
    /* border-left: 3px solid #eeeeee; */
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a {
	color: #fff;
}
#footer ul.quick-links li a{
	color:#ced4da;
	font-size: 18px;
}
#footer ul.social li a:hover{
	color:#3376BC;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.spock {
	color: #3376BC
}
/* 
.requestInline {
    display: none;
} */

.icon-bullet {
    display: inline;
}

.bullet {
    display: none;
}

.planYourVisit:hover {	
	text-decoration: none
}

.homeContent:hover	 {
	color: #d3d3d3;
}

.showMore {
	margin-right: auto;
	margin-left: auto;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
	margin-bottom: 10px;
	}
}
/* footer */

.fall-festival {
	background: rgb(26,26,26);
	color: #ffffff;
	text-align: center;
}

/* .more-info {
	background-color: #BD4A1E;
	border-color: #BD4A1E;
} */

@media (min-width: 900px) {
	.show-mobile {
		display: none !important;
	}

	.hide-mobile {
		display: block !important;
	}
}

@media (max-width: 900px) {
	.show-desktop {
		display: none !important;
	}
}

/* ANIMATION STUFF */
@media (min-width: 480px) {
	html, body{
		height: 100%;
	}
	body{
		margin: 0 auto;
	}

	.secondary {
	max-height: 400px;
	}

	.row {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	}

	.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	}

	.col-2 {
	/* width: 50%; */
	max-width: 100%;
	}

	.scrollAnim{
		height: 100%;
		opacity: 0;
		transition: 0.8s;
		display: flex;
		flex-basis: 1;
		flex-grow: 1;
		flex-shrink: 1;
		padding: 0 120px;
	}
	.pic{
	background-image: url("https://calvarychristianchurch.com/img/ccc-cross-image.webp");
	}

	.scrollAnim .content{
	/* 	margin: auto; */
	text-align: center;
	}
	.scrollAnim.anim{
		opacity: 1;
	}
	.anim h3, .anim button{
		transition-delay: 0.1s;
		transition: all 0.8s;
	}

	p{
		font-size: 0.9em;
		transition: all 1.2s;
	}
	.anim-top{
		transform: translate(0,150px);
	}
	.anim-left{
		transform: translate(-300px,0);
	}
	.anim-right{
		transform: translate(300px,0);
	}
	.anim .anim-top{
		transform: translate(0,0);
	}
	.anim .anim-left{
		transform: translate(0,0);	
	}
	.anim .anim-right{
		transform: translate(0,0);	
	}

	.steps{
		width: 100%;
		margin: auto;
	}

	button{
		color: #333;
		background-color: #eee;
		border: none;
		padding: 0.5em;
		width: 9em;
		margin: 0.2em;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: bold;
	}

	button:hover{
		background-color: #ddd;
	}

	.scroller{
		position: fixed;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);

	}

	@keyframes fadeIn {
		from{ 
			opacity:  0; 
		}
		to{
			opacity: 1;
		}
	}
	@keyframes fadeInOut {
		0%{ 
			opacity:  0; 
		}
		50%{
			opacity: 1;
		}
		100%{
			opacity: 0;
		}
	}

	.sub-heading {
	font-size: 32px;
	}
}